:root {
    --content: 'Inconsolata', monospace;
    --title: 'PT Serif', serif;
    --primary-bg: 	hsl(212, 41%, 93%);
    --content-color: 	hsl(210, 100%, 100%);
    --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
}

#box {
    background-color: var(--content-color);
    border-radius: 10px;
    box-shadow:  0 5px 15px rgb(199, 196, 196);
    width: 500px;
    height: auto;
    margin: 150px auto;
    padding-bottom: 20px;
    transition: var(--transition);
}

#box:hover {
    box-shadow:  1px 5px 15px rgb(171, 171, 171);
}

h1 {
    font-family: var(--title);
    color: rgb(53, 53, 79);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 450px;
    margin: auto;
}

#add-text {
    border: none;
    background-color: var(--primary-bg);
    height: 30px;
    width: 350px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: medium;
    padding-left: 10px;
}

button {
    border: none;
    background-color: rgb(133, 220, 238);
    width: 80px;
    height: 30px;
    color: rgb(53, 53, 79);
    font-size: medium;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: var(--transition);
}

button:hover {
    color: white;
    background-color: rgb(89, 89, 227);
}

ul {
    list-style: none;
    width: 400px;
    margin: 20px auto;
    font-family: var(--content);
    font-size: 25px;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px;
    transition: var(--transition);
}

li:hover {
    background-color: var(--primary-bg);
    color: rgb(154, 151, 151);
}

.glyphicon-pencil, .glyphicon-trash  {
    font-size: 15px;
    transition: var(--transition);
    cursor: pointer;
}

.glyphicon-pencil:hover {
    color: rgb(12, 234, 12);
}

.glyphicon-trash:hover {
    color: red;
}

#box p#clear-list-button {
    text-align: center;
    font-family: var(--content);
    font-size: 20px;
    color: rgb(232, 47, 47);
    transition: var(--transition);
    cursor: pointer;
}

#box p#clear-list-button:hover {
    color: rgb(146, 6, 6);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

#message {
    color: black;
    text-align: center;
    font-family: var(--content);
    font-size: 20px;
}